$LOG="rescrubber.cfg";

#white list of allowed data_field attributes
# If you want more of these, look in Catalog.pm
# ...although it doesn't seem to have standard_name...
$ATTR_NAMES={   
dataProductTimeInterval => dataProductTimeInterval,         # easy 	 (should this be mapped to temporal_resolution?) perhaps some validation will be needed? 
dataProductStartTimeOffset => dataFieldMeasurement,			# easy 	 (should this be mapped to add_offset?) perhaps we should do some validation or conversion ? (scale_factor?)
virtualDataFieldGenerator => virtualDataFieldGenerator,     # easy 	 (should this be mapped to virtualGeneratr?) which products is this in ?
fillValueFieldName => fillValueFieldName,                   # easy 	 (should this be mapped to _FillValue?) we may have to do some validation or mod (.f ?) 
dataFieldUnits => "units",                           # hard 	 (shouldn't this be mapped to units?) - we may have to do some sort of conversion (eg. hours-> sec)
dataFieldStandardName => dataFieldStandardName,             # easy 	 (shouldn't this be mapped to standard_name?) 
zDimName => zDimName,                                       # hard 	 is TempPrsLvls_D an example of a zDimName ?
deflationLevel => deflationLevel,							# easy 	 probably as we introduce this item - which product is this in?
validMin => validMin,										# easy 	 probably as we introduce this item - which product is this in?
validMax => validMax,										# easy 	 probably as we introduce this item - which product is this in?
vectorComponents => vectorComponents,					    # easy 	
dataFieldMeasurement => quantity_type,						# hard	 this is a basic item in the file.
dataFieldDepth => quantity_type,							# hard 	 not sure
dataFieldDepthUnits => quantity_type,						# hard 	 not sure 
dataProductShortName => dataProductShortName,				# hard 	 (should this be mapped to product_short_name?) basic, has ramifications, seems to be only in the file name and the dataField name	
dataProductVersion => dataProductVersion,                   # hard 	 (should this be mapped to product_version?) basic, has ramifications,seems to be only in the file name and the dataField name 
dataFieldLongName => long_name                              # easy 	 done
};
$PROCESSING={   
dataFieldUnits => "units",
dataFieldLongName => long_name     
};
$AG2NETCDF={   
dataProductTimeInterval => temporal_resolution, 
dataProductStartTimeOffset => add_offset,	
virtualDataFieldGenerator => virtualGeneratr,
fillValueFieldName => _FillValue,
dataFieldUnits => "units",
dataFieldStandardName => standard_name,
deflationLevel => deflationLevel,
validMin => validMin,			
validMax => validMax,				
vectorComponents => vectorComponents,
dataFieldMeasurement => quantity_type,
dataFieldDepth => quantity_type,		
dataFieldDepthUnits => quantity_type,
dataProductShortName => short_name,	
dataProductVersion => product_version,
dataFieldLongName => long_name     
};

# location of log4perl output files:
$LOGPREFIX= "/var/tmp/";
# location of log4perl config:
$PLEASEREVIEW=1;
$LOGCONFIG="/home/rstrub/public_html/cfg/giovanni/bin_log4perl.cfg";
# (default is 100) how many files do you want to skip showing status with ncdump -h
# location of log4perl output files:
$MAILINGLIST=["richard.f.strub\@nasa.gov","randkstrub\@yahoo.com"]

